{% extends "base_generic.html" %}

{% block content %}
  <h2>Appointment List</h2>
  <a href="{% url 'appointment_create' %}">Create New Appointment</a>
  <ul>
    {% for appointment in appointments %}
      <li>
        <a href="{% url 'appointment_detail' appointment.pk %}">{{ appointment.AppointmentID }} - {{ appointment.AppointmentDate }}</a>
        <a href="{% url 'appointment_update' appointment.pk %}">Edit</a>
        <a href="{% url 'appointment_delete' appointment.pk %}">Delete</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
